* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  list-style: none;
  font-size: 1em;
  outline: none;
}

html {
  /*background: #000 url(/img/portrait.png) no-repeat center center fixed;*/
  /*background-size: cover;*/
  background-color: black;
}

body {
  font: 500 14px/32px Helvetica Neue, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  width: 110px;
  height: 110px;
  font-size: 13px;
  -webkit-transition: border-color 0.5s, color 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: border-color 0.5s, color 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, border-color 0.5s, color 0.5s, background-color 0.5s;
  transition: transform 0.5s, border-color 0.5s, color 0.5s, background-color 0.5s, -webkit-transform 0.5s;
  margin: 20px;
  border-radius: 50%;
  border: 8px solid white;
}

a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#twitter a:hover {
  border-color: rgb(29, 161, 242);
  background-color: white;
  color: rgb(29, 161, 242);
}

#github a:hover {
  border-color: rgb(110, 84, 148);
  background-color: white;
  color: rgb(110, 84, 148);
}

#medium a:hover {
  border-color: rgb(0, 171, 107);
  background-color: white;
  color: rgb(0, 171, 107);
}

#linkedin a:hover {
  border-color: rgb(0, 160, 220);
  background-color: white;
  color: rgb(0, 160, 220);
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 650px) {
  a {
    width: 60px;
    height: 60px;
    font-size: 6px;
    border-width: 4px;
    margin: 5px;
  }

  #twitter a {
    border-color: rgb(29, 161, 242);
    color: rgb(29, 161, 242);
  }

  #github a {
    border-color: rgb(110, 84, 148);
    color: rgb(110, 84, 148);
  }

  #medium a {
    border-color: rgb(0, 171, 107);
    color: rgb(0, 171, 107);
  }

  #linkedin a {
    border-color: rgb(0, 160, 220);
    color: rgb(0, 160, 220);
  }
}
